<!DOCTYPE html>
<html>
<title>Puddle</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-signin-client_id" content="195931897064-d28cipa997m9jbes3dimn0j05p4rehip.apps.googleusercontent.com">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
<link rel="stylesheet" href="static/assets/css/wave.css">
<link rel="stylesheet" href="static/assets/css/login.css">
<link rel="stylesheet" href="static/assets/css/w3.css">
<link rel="icon" href="static/assets/img/puddle.ico">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="static/assets/js/js.cookie.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>

<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;

}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url('static/assets/img/bg.png');
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
.bean-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  overflow: auto;
}
.g-signin2{
  width: 100%;
}

.g-signin2 > div{
  margin: 0 auto;
}

</style>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">
    <img src="static/assets/img/Puddle(NBG).png" width="79" alt="Logo"></a>

    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">

      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-users"></i> TEAM</a>
      <a href="#roadmap" class="w3-bar-item w3-button"><i class="fas fa-tasks"></i> ROADMAP</a>
      <a href="#whitepaper" class="w3-bar-item w3-button"><i class="fa fa-file-text"></i> WHITEPAPER</a>
      <a href="#buy" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> BUY</a>
      <accountTabs id="accTabs">
        <a onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button"><i class="fas fa-users"></i> SIGN IN</a>
      </accountTabs>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-light-gray w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#roadmap" onclick="w3_close()" class="w3-bar-item w3-button">ROADMAP</a>
  <a href="#whitepaper" onclick="w3_close()" class="w3-bar-item w3-button">WHITEPAPER</a>
  <a href="#buy"  onclick="w3_close()" class="w3-bar-item w3-button">BUY</a>
  <accountTabsM id="accTabsM">
  <a onclick="w3_close; document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button"> SIGN IN</a>
</accountTabsM>
</nav>

<!-- Header with full-height image -->
<header class="bgimg-1 w3-display-container" id="home">
    <div class='wave -one'></div>
    <div class='wave -two'></div>
    <div class='wave -three'></div>
    <div class="wave -four"></div>
    <div class="wave -five"></div>
    <div class="wave -six"></div>
    <div class="wave -seven"></div>
  <div class="w3-display-left w3-text-white" style="padding:48px">
    <span class="w3-jumbo w3-hide-small">Tangle for the People</span><br>
    <span class="w3-xxlarge w3-hide-large w3-hide-medium">Tangle for the People</span><br>
    <span class="w3-large">Stop wasting valuable time with projects that just isn't you.</span>
    <p><a href="#about" class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn more and start today</a></p>
  <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px">
    <a href="https://twitter.com/PuddleICO"><i class="fab fa-twitter w3-hover-opacity w3-text-white"></i></a>
    <a href="http://reddit.com/r/PuddleICO/"><i class="fab fa-reddit w3-hover-opacity w3-text-white"></i></a>
    <a href="https://github.com/"><i class="fab fa-github w3-hover-opacity w3-text-white"></i></a>
  </div>
</header>

<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">

  <h3 class="w3-center sr-animate">ABOUT THE COMPANY</h3>
  <p class="w3-center w3-large sr-animate">Key features of our company</p>
  <div class="w3-row-padding w3-center sr-animate" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Responsive</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Passion</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-gem w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Design</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Support</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Responsive2</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Passion2</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-gem w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Design2</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Support2</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
    </div>
  </div>
</div>

<!-- Promo Section - "We know design" -->
<div class="w3-container w3-light-grey" style="padding:128px 16px">
  <div class="w3-row-padding">
    <div class="w3-col m6 sr-animate">
      <h3>We know design.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>tempor incididunt ut labore et dolore.</p>
      <p><a href="#roadmap" class="w3-button w3-black"><i class="fa fa-tasks"> </i> View Our Roadmap</a></p>
    </div>
    <div class="w3-col m6">
      <img class="w3-image w3-round-large sr-animate" src="static/assets/img/money.png" alt="Buildings" width="700" height="394">
    </div>
  </div>
</div>

<!-- Team Section -->
<div class="w3-container" style="padding:128px;" id="team">
  <h3 class="w3-center">THE TEAM</h3>
  <p class="w3-center w3-large">The ones who runs this company</p>
  <div class="w3-row-padding w3-grayscale" style="margin-top:64px;">
    <boxes class="">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/w3images/team2.jpg" alt="John_img" style="width:100%">
        <div class="w3-container">
          <h3>Filip Giertz</h3>
          <p class="w3-opacity">CEO & Founder</p>
          <p>hi. im john.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Buy</button></p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-card">
        <img src="/w3images/team1.jpg" alt="John2_img" style="width:100%">
        <div class="w3-container">
          <h3>Viktor Osman</h3>
          <p class="w3-opacity">Art Director</p>
          <p>im also john.</p>
          <p><button class="w3-button w3-light-grey w3-block"><i class="fa fa-envelope"></i> Buy</button></p>
        </div>
      </div>
    </div>
  </boxes>
  </div>
</div>

<!-- Promo Section "Statistics" -->
<div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
  <div class="w3-quarter">
    <span class="w3-xxlarge">14+</span>
    <br>Partners
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">55+</span>
    <br>Projects Done
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">89+</span>
    <br>Happy Clients
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">150+</span>
    <br>Meetings
  </div>
</div>


<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Skills Section -->
<div class="w3-container w3-light-grey w3-padding-64">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>Our Skills.</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
      tempor incididunt ut labore et dolore.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod<br>
      tempor incididunt ut labore et dolore.</p>
    </div>
    <div class="w3-col m6">
      <p class="w3-wide"><i class="fa fa-camera w3-margin-right"></i>Photography</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:90%">90%</div>
      </div>
      <p class="w3-wide"><i class="fa fa-desktop w3-margin-right"></i>Web Design</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:85%">85%</div>
      </div>
      <p class="w3-wide"><i class="fa fa-photo w3-margin-right"></i>Photoshop</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:75%">75%</div>
      </div>
    </div>
  </div>
</div>

<!-- Roadmap Section -->
<div class="w3-container w3-white-grey" style="padding:128px 16px" id="roadmap">
  <h3 class="w3-center">ROADMAP</h3>
  <p class="w3-center w3-large">What we've done for people</p>

  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-col l3 m6">
      <img src="/w3images/tech_mic.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A microphone">
    </div>
    <div class="w3-col l3 m6">
      <img src="/w3images/tech_phone.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A phone">
    </div>
    <div class="w3-col l3 m6">
      <img src="/w3images/tech_drone.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A drone">
    </div>
    <div class="w3-col l3 m6">
      <img src="/w3images/tech_sound.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Soundbox">
    </div>
  </div>

  <div class="w3-row-padding w3-section">
    <div class="w3-col l3 m6">
      <img src="/w3images/tech_tablet.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A tablet">
    </div>
    <div class="w3-col l3 m6">
      <img src="/w3images/tech_camera.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A camera">
    </div>
    <div class="w3-col l3 m6">
      <img src="/w3images/tech_typewriter.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A typewriter">
    </div>
    <div class="w3-col l3 m6">
      <img src="/w3images/tech_tableturner.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="A tableturner">
    </div>
  </div>
</div>

<!-- whitepaper Section -->
<div class="w3-container w3-center w3-light-grey" style="padding:128px 16px" id="whitepaper">
  <h3>WHITEPAPER</h3>
  <p class="w3-large">View Our whitepaper.</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-third">
      <ul class="w3-ul w3-white w3-hover-shadow w3-center">
        <li class="w3-red w3-xlarge w3-padding-48">Pro</li>
        <li class="w3-padding-16"><b>25GB</b> Storage</li>
        <li class="w3-padding-16"><b>25</b> Emails</li>
        <li class="w3-padding-16"><b>25</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 25</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-black w3-padding-large">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>
</div>


<!-- Buy Section -->
<div class="w3-container w3-dark-grey" style="padding:128px 16px" id="buy">
  <h3 class="w3-center">BUY</h3>
  <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-third">
      <ul class="w3-ul w3-white w3-hover-shadow w3-center">
        <li class="w3-red w3-xlarge w3-padding-48">Pro</li>
        <li class="w3-padding-16"><b>25GB</b> Storage</li>
        <li class="w3-padding-16"><b>25</b> Emails</li>
        <li class="w3-padding-16"><b>25</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 25</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-black w3-padding-large">Sign Up</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-white w3-padding-64">
  <a href="#home" class="w3-button w3-dark-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section w3-text-dark-grey">
    <a href="https://twitter.com/PuddleICO"><i class="fab fa-twitter w3-hover-opacity"></i></a>
    <a href="https://www.reddit.com/r/PuddleICO/"><i class="fab fa-reddit w3-hover-opacity"></i></a>
    <a href="http://github.com"><i class="fab fa-github w3-hover-opacity"></i></a>
  </div>
</footer>

<!-- login pop up html -->
<div id="id01" class="modal">

  <form class="modal-content w3-animate-zoom" action="/action_page.php">
    <div class="container">
      <div class="w3-center">
       <h2>SIGN IN</h2>
       <p class="w3-large">Signing in with google will allow you to purchase Puddles.<br>And lets be honest you want to be as wet as possible.</p>
      </div>
      <br>
      <div class="g-signin2" href="#" data-onsuccess="onSignIn" data-theme="light" data-width="300" data-height="50" data-longtitle="true"></div>
      <br>
      <div class="w3-center" id="signOutBtn">
        <!--sign out option is put here once user signs in-->
      </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn w3-dark-grey">Close</button>
    </div>
  </form>
</div>
{% csrf_token %}
<script>
  function onSignIn(googleUser) {
      var csrftoken = Cookies.get('csrftoken');
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', 'http://localhost:8000/account/goauth2token');
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.onload = function () {
        // conosle.log('Signed in')
        var responseParsed = JSON.parse(xhr.responseText)
        //logs user's name and profile pic
        console.log('Signed in as: ' + responseParsed.name);
        console.log('Picture is: ' + responseParsed.picture);

        //addds profile tab, profile pic, and sign out buttons
        document.getElementById("accTabs").innerHTML =
        "<a onclick=\"document.getElementById('id01').style.display='block'\" class=\"w3-bar-item w3-button\"><i class=\"fas fa-users\"></i> SIGN OUT</a> <a href=\"http://bit.ly/2FP4qDL\" class=\"w3-bar-item w3-button\"> <img id=\"pfp\" src=\" \"  width=\"24\" style=\"border-radius: 50%\">  PROFILE</a>";
        document.getElementById("accTabsM").innerHTML =
        "<a onclick=\"w3_close; document.getElementById('id01').style.display='block'\" class=\"w3-bar-item w3-button\"> SIGN OUT</a> <a href=\"http://bit.ly/2FP4qDL\" class=\"w3-bar-item w3-button\"> PROFILE</a>"
        //shows profile pic.... hope you like it you dumb nerd... took me wayyy too long to figure this out... so appriciate it please..
        document.getElementById("pfp").src = responseParsed.picture;
        //i wanna die
        //there will be things here eventually
      };
      xhr.send('idtoken=' + id_token);

      //adds profile button to navbar once signed in and made me want to die for a solid hour

      document.getElementById("signOutBtn").innerHTML = "<a class='' href='#' onclick='signOut();'><p>Sign out</p></a>";
    }



  function signOut() {
    document.getElementById("accTabs").innerHTML = "<a onclick=\"document.getElementById('id01').style.display='block'\" class=\"w3-bar-item w3-button\"><i class=\"fas fa-users\"></i> SIGN IN</a>";
    document.getElementById("signOutBtn").innerHTML = "";
    document.getElementById("accTabsM").innerHTML =
    "<a onclick=\"w3_close; document.getElementById('id01').style.display='block'\" class=\"w3-bar-item w3-button\"> SIGN IN</a>"
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }


</script>

<script>


// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
    if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
    } else {
        mySidebar.style.display = 'block';
    }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}

// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

window.sr = ScrollReveal();
sr.reveal('.sr-animate');
</script>

</body>
</html>
